:root {
    --link-color: #4078BB;
    --button-active: hsl(213, 49%, 85%);
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.65;
    margin: 0;
    background-color: #444;
    overflow-y: scroll;
}

main {
    box-sizing: border-box;
    max-width: 1024px;
    margin: 0 auto;
    padding: min(7%, 80px);
    background-color: white;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
    line-height: 1.2;
    margin-top: 20px;
    margin-bottom: .5rem;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.6rem;
    margin-top: 2rem;
}

h3 {
    font-size: 1.3rem;
}

nav {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 28px;
}

a {
    color: var(--link-color)
}

a.active {
    color: rgb(180, 0, 90)
}

p {
    margin: .5em 0;
}

hr {
    border: .5px solid rgb(192, 192, 192);
    margin-top: 1.5rem;
}

li {
    padding-bottom: .5em;
}

figure {
    display: inline-block;
}

figcaption {
    text-align: center;
}

.icon {
    width: 20px;
    vertical-align: middle;
    padding-bottom: .125rem;
}

#icon2 {
    width: 15px;
    vertical-align: middle;
    padding-bottom: 0.08rem;
}

figure img {
    width: 128px;
}

input {
    box-sizing: border-box;
    width: 100%;
    padding: 9px;
    margin-bottom: 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 5px;
}

button {
    font-size: 0.9rem;
    padding: 8px 32px;
    margin: 1px 5px 5px 0px;
}

button:focus {
  box-shadow: 0 0 0 0px #ffffff, 0 0 2px 3px var(--link-color);
  outline: 2px dotted transparent;
}

.img_thunderbird {
    max-width: 100%;
    margin: 8px 0;
}

.js {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgb(255, 249, 184);
    border: 1px solid rgb(192, 192, 192);
    padding: 24px;
}

@media screen and (max-width: 480px) {
    nav {
        gap: initial;
        justify-content: space-between;
    }

    ul, ol {
        padding-left: 1em;
    }
}